<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.m520it.missjie">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:name=".activity.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity

            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"

            android:name=".activity.MainActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTask"/>
        <activity
            android:name=".latest.activity.LatestListActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTask"/>

        <activity
                  android:name=".home.view.innerfragment.recommend.view.BigImageActivity"
                  android:theme="@style/NoActionBar"/>


        <activity
            android:name=".latest.activity.LatestDetailActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTask"/>

        <activity
            android:name=".shop.activity.ProductDetailsActivity"
            android:theme="@style/NoActionBar"
            android:launchMode="singleTask"/>


    </application>

</manifest>